{% extends 'index.html' %}
{% load i18n %}

{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}
  {% block hero %}
  <div class="jumbotron">
    <div class="container">
      <h2>{% trans "iDAI.geoserver" %}</h2>
      <p>{% blocktrans %}This is an open platform for sharing geospatial data and maps.{% endblocktrans %}
      </p>
     {% blocktrans %}We host GIS datasets (Layers), complete Maps and various Documents related to archaeology and cultural heritage.{% endblocktrans %}
     </br>
     {% blocktrans %}Registered users can upload and share data and maps with others.{% endblocktrans %}
     </div>
  </div>
  {% endblock %}
