{% load leaflet_tags %}

<link rel="stylesheet" href="/static/css/idai-leaflet.min.css"/>
<script src='/static/js/idai-leaflet-components.min.js'></script>

<script type="text/javascript">
$( document ).ready(function($) {

    var map = L.map('preview_map'); 
    var basemaps = {
        'Greyscale':mapboxBase(),
        'Color': basemap().addTo(map),
        'Blank': blank()
    };

    var CustomSourceLoad = L.WMS.Source.extend({
        'ajax': function(url, callback) {
            $.ajax(url, {
                'context': this,
                'success': function(result,e) {
                    // autolink URLs
                    var n = result.autoLink({target: "_blank"});
                    //console.log (result);
                    if(result.indexOf('table class="featureInfo"') != -1){
                        callback.call(this, n);  
                        $('.leaflet-popup-content').find('style').remove();
                        hideEmptyCols($("table.featureInfo"));
                        targetTable = $("table.featureInfo");
                        targetTable.css({'width':targetTable.width()+200}).colResizable({liveDrag:true});
                        $('head').append('<style type="text/css">.JPadding > tbody > tr > td, .JPadding > tbody > tr > th{padding-left:5px!important;</style>');
                        $("caption.featureInfo").append('<span class="captionPos">( '+window.currentLeafletMousePos+' )</span>');
                    } else {
                        this.hideWaiting()
                        return false;
                    }
                 }
            });
        }
    });

    /* helper for Keydown */
    var holdShift = false;
    $(document).keydown(function (e) {
        if (e.keyCode == 67) {
            holdShift = true;
        }
    });

    map.on('click', function(e) {
        // save current position to global   
        window.currentLeafletMousePos = e.latlng.lat.toFixed(4) + ", " + e.latlng.lng.toFixed(4); 
        // copy current pos to clipboard
        if (holdShift == true){
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(window.currentLeafletMousePos).select();
            document.execCommand("copy");
            $temp.remove();
        }
    });

    // Add WMS source/layers
    var source = new CustomSourceLoad(
        "{{ resource.ows_url|safe }}",
        {
            "format": "image/png",
            "transparent": "true",
            "attribution": "",
            "info_format": "text/html",
            "tiled": true,
            "getIdentifyLayers" : '{{ resource.typename }}'
            
        }        
    );

    var layers = {
        '{{ resource.typename }}': source.getLayer("{{ resource.typename }}").addTo(map)
    };

    // Create layer control
    L.control.layers(basemaps, layers).addTo(map);
 
     /* Stamen Background Layer */
    function basemap() {
        var attr = 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.';
        return L.tileLayer("http://tile.stamen.com/terrain/{z}/{x}/{y}.png", {
            opacity: 1,
            attribution: attr
        });
    }

     /* Mapbox Background Layer */
    function mapboxBase(){
        return L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibW90b3JhbWEiLCJhIjoieXRfR1RSMCJ9.IbR0xPoCpTPouMXAamfdjg', {
        maxZoom: 18,
        attribution: '<a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a>',
        id: 'mapbox.light'
        }).addTo(map);
    }

     /* Blank Background Layer */
    function blank() {
        var layer = new L.Layer();
        layer.onAdd = layer.onRemove = function() {};
        return layer;
    }

    function zoom_to_box(map, bbox){
        var bounds = [
            [bbox[1], bbox[0]],
            [bbox[3], bbox[2]]
        ];
        map.fitBounds(bounds);
    }
        
    zoom_to_box(map, [{{ resource.bbox_string }}]);

    /* Add some controls */
    L.control.navbar({position: 'topleft'}).addTo(map);
    L.control.fullscreen().addTo(map);
    L.control.zoomBox({modal: false, className: "fa fa-search"}).addTo(map);
    new L.Control.Measure({ position: 'topleft',primaryLengthUnit: 'kilometers', secondaryLengthUnit: 'meters',primaryAreaUnit: 'hectares', secondaryAreaUnit: 'sqmeters' }).addTo(map);

    L.control.coordinates({
        position:"bottomleft", //optional default "bootomright"
        decimals:4, //optional default 4
        decimalSeperator:".", //optional default "."
        labelTemplateLat:"Lat: {y}", //optional default "Lat: {y}"
        labelTemplateLng:"Lon: {x}", //optional default "Lng: {x}"
        enableUserInput:false, //optional default true
        useDMS:false, //optional default false
        useLatLngOrder: true, //ordering of labels, default false-> lng-lat
        markerType: L.marker, //optional default L.marker
        markerProps: {}, //optional default {},

    }).addTo(map);

});

</script>
